{
	"__merge" : [],
	"defaultBlueprints" : 
	{
		"__merge" : [],
		"tier1" : 
		[ 
			{ "item" : "steelbridge" },
			{ "item" : "rangemodblock" },
			{ "item" : "conveyormodblock" }
		],
		"tier3" :
		[
			{ "item" : "goldbridge" }
		],
		"level32" :
		[
			{ "item" : "platinumbridge" }
		],
		"level34" :
		[
			{ "item" : "ceruliumbridge" }
		],
		"level36" :
		[
			{ "item" : "rubiumbridge" }
		],
		"level37" :
		[
			{ "item" : "imperviumbridge" }
		]
	}
}